.maxdang{
    background-color: yellow;
    height: 100%;
    width: 100%;
    position: fixed;
    top:0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 36px;
    font-weight: 600;
    z-index: 3;
}

            @media (max-width: 600px) and (min-width:400px){ 
                .maxdang{
                    display: none;
                }
            }